<div class="view network">
  <div class="fullheight" citymap></div>


</div>




<div class="info-panel">
  <div class="panel-txt">
    <span class="txt-info title">CITYSENSING.</span> IT'S <span class="txt-info date">APRIL 10TH 2014</span>. AT <span class="txt-info date">9.30 AM</span>, THIS IS WHAT MILAN <span class="txt-info highlight">IS TWEETING</span> ABOUT. THE MOST TWEETED TOPIC IS <span class="txt-info highlight">#COOFFEE</span>. THESE ARE THE <span class="txt-info highlight">TOP SPEAKERS</span> ON TWITTER:

  </div>

  <div>timelines!!!</div>


</div>
