<div class="viz-panel push-right fullheight">
  <div class="fullheight" citymap></div>
</div>




<div class="info-panel push-left fullheight">
  <div class="panel-txt">
    <p>
      <span class="txt-info title">CITY SENSING.</span>
      IT'S <span class="txt-info date">{{startDate | date:'longDate' | uppercase}}</span>.
    </p>
    <p>
      AT <span class="txt-info date">{{startDate | date:'HH:mm a' | uppercase}}</span> MILANO
      <span class="txt-info highlight"> HAS SENT {{stats.totPosts}} TWEETS</span>.
      MOST OF THEM ARE FROM <span class="txt-info highlight">{{stats.topSocialNil}}</span>.
    </p>
    <p>
      AT <span class="txt-info date">{{startDate | date:'HH:mm a' | uppercase}}</span>
      THERE IS A STRANGE
      <span class="txt-info highlightCalls">PHONE ACTIVITY</span> IN <span class="txt-info highlightCalls">{{stats.topAnomalyNil}}</span>
    </p>
  </div>
  <div class="panel-timelines">
    <div ng-show="socialTimeline.timeline.length" id="timeline-tweets" timelinetweets></div>
    <div ng-show="callsTimeline.timeline.length" id="timeline-calls" timelinecalls></div>
  </div>
</div>
