<div class="viz-panel push-right fullheight">
  <div class="fullheight" geomap></div>
</div>




<div class="info-panel push-left fullheight">
  <div class="panel-txt">
    <p>
      <span class="txt-info title">CITY SENSING.</span>
      IT'S <span class="txt-info date">{{startDate | date:'longDate' | uppercase}}</span>.
    </p>
    <p>
      AT <span class="txt-info date">{{startDate | date:'HH:mm a' | uppercase}}</span> EXPO2015
      <span class="txt-info highlight"> HAS SENT {{stats.totPosts}} TWEETS</span>.
      THE MOST OF CITED PAVILION IS <span class="txt-info highlightPavilion">{{stats.topSocialVenue}}</span>.
    </p>
    <!-- <p>
      AT <span class="txt-info date">{{startDate | date:'HH:mm a' | uppercase}}</span>
      THERE IS A STRANGE
      <span class="txt-info highlightCalls">PHONE ACTIVITY</span> IN <span class="txt-info highlightCalls">{{stats.topAnomalyNil}}</span>
    </p> -->
  </div>
  <div class="panel-timelines">
    <div id="timeline-tweets" timelinetweets></div>
    <div id="timeline-calls" timelineinstagram></div>
  </div>
</div>
