<div class="viz-panel push-left fullheight network">
  <div citynetwork></div>


</div>




<div class="info-panel push-right fullheight">
  <div class="panel-txt">
    <span class="txt-info title">CITYSENSING.</span><span ng-show="start"> IT'S <span class="txt-info date">{{start | date:'mediumDate'}}</span>. AT <span class="txt-info date">{{start | date:'shortTime'}}</span>, THIS IS WHAT MILAN <span class="txt-info highlight">IS TWEETING</span> ABOUT. THE MOST TWEETED TOPIC IS <span class="txt-info highlight">#COOFFEE</span>. THESE ARE THE <span class="txt-info highlight">TOP SPEAKERS</span> ON TWITTER:</span>
    <div topnet></div>
  </div>



</div>
